<!DOCTYPE html>
<html ng-app="vensplitApp">
<head>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.js"></script>
<script src="/static/bootstrap-custom/ui-bootstrap-custom-0.10.0.js"></script>
<script src="/static/bootstrap-custom/ui-bootstrap-custom-tpls-0.10.0.js"></script>
<script>
var vensplitApp = angular.module('vensplitApp', ['ui.bootstrap']);

vensplitApp.controller("VensplitController", function ($scope, $http) {
  $scope.splitters = [];
  $scope.friends = [];
  $http.get("data").success(function(data) {
    $scope.friends = data;
  });
  $scope.addSplitter = function(user) {
    $scope.selected = "";
    $scope.splitters.push(user);
    $scope.friends.splice($scope.friends.indexOf(user), 1);
    $scope.updateCharge();
  };
  $scope.removeSplitter = function(user) {
    $scope.friends.push(user);
    $scope.splitters.splice($scope.splitters.indexOf(user), 1);
    $scope.updateCharge();
  };
  $scope.tip = 0.0;
  $scope.charge = 0;
  $scope.updateCharge = function() {
    console.log("Here!");
    var amt = $scope.amount || 0;
    var tip = parseFloat($scope.tip);
    $scope.charge = (amt*(1.0 + tip )/($scope.splitters.length + 1))
  };
  $scope.$watch('tip', $scope.updateCharge);
  $scope.$watch('amount', $scope.updateCharge);
});

</script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<style type="text/css">
.profile_img {
  width: 25px;
  height: 25px;
}
.dropdown-menu {
  min-width: 0px !important;
  right: 12px;
}
.btn-group {
  width: 100% !important;
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/ng-template" id="dropTemplate.html">
<a ><img ng-src="{{match.model.profile_picture_url}}" width="16">
      <span bind-html-unsafe="match.label"></span>
      </a>
</script>
</head>
<body ng-controller="VensplitController">
<div class="container">
<input class="form-control" type="number" ng-model="amount" placeholder="How much was it?"/><br />
<input class="form-control" type="text"
  ng-model="selected"
  placeholder="Who took part2?"
  typeahead="friend.display_name for friend in friends | filter:{display_name:$viewValue} | limitTo:5"
  typeahead-on-select="addSplitter($item)"
  typeahead-template-url="dropTemplate.html" ></input>
<table class="table">
<tr ng-repeat="user in splitters">
<td>
  <img class="profile_img" src="{{user.profile_picture_url}}" />{{ user.display_name}}</td>
<td><div ng-click="removeSplitter(user)"><span class="glyphicon glyphicon-minus-sign"></span></div></td></tr>
</table>
<div class="btn-group">
        <button type="button" class="btn btn-primary" ng-model="tip" btn-radio="0">No Tip</button>
        <button type="button" class="btn btn-primary" ng-model="tip" btn-radio="0.15">15%</button>
        <button type="button" class="btn btn-primary" ng-model="tip" btn-radio="0.20">20%</button>
        <button type="button" class="btn btn-primary" ng-model="tip" btn-radio="0.25">25%</button>
</div>
<button type="button" class="btn form-control btn-info">

Charge everyone $<span>{{ charge|number:2 }}</span>
</button>
</div>
</body>
</html>
</div>
